on: ["push", "pull_request"]

name: Test Coveralls

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3
    - name: Set up JDK 1.
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 8.0.332+9
        cache: 'maven'
      
    - name: Build with Maven
      run: mvn clean test compile checkstyle:check jacoco:report
    
    - name: Coveralls Coverage Report Setup
      run: sed -i.bak 's/yourcoverallsprojectrepositorytoken/${{ secrets.COVERALL_REPO_TOKEN }}/g' pom.xml    
    - name: Coveralls Coverage Report Submission
      run: mvn coveralls:report
    
    - name: Cleanup Repository Token
      if: ${{ always() }}
      run: if [ -f "pom.xml.bak" ]; then mv pom.xml.bak pom.xml; fi
